
@{
    ViewBag.Title = "GIFS";
}

<h2>YOU HAVE DISCOVERED A SECRET...</h2>

<img src="~/Content/download.gif" />
<img src="~/Content/hamster.gif" />
<img src="~/Content/chicks.gif" />
<img src="~/Content/ohreally.gif" />
<img src="~/Content/trump.gif" />
<img src="~/Content/sunglasses.gif" />
<img src="~/Content/baby.gif" />
<img src="~/Content/catdance.gif" />
<img src="~/Content/tenor.gif" />
<img src="~/Content/lips.gif" />
